 // AJOUT FONTS 
 
//  @font-face {
//     font-family: 'segoe';
//     src: url("../fonts/Segoe.ttf"); 
//  }

//  @font-face {
//     font-family: 'segoe-bold';
//     src: url("../fonts/Segoe-bold.ttf"); 
//  }

 
header { 
    background-image: url('../pictures/background_header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    #box_nav { 
        background-image: url('../pictures/hoverBackground_header.png');
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 130px;
        position: fixed !important;
        top: 0;
        opacity: 0.9;  

        nav {
            width: 100%;

                .navbar-brand {
                    font-size: 30px;
                    color: white !important;
                    font-weight: bold;

                    span {
                        color: #4bcaff;
                    }
                }

                #navbarTogglerDemo03 {
                   ul {
                       li { 
                           a {
                            font-size: 14px;
                            color: white;
                            font-weight: bold;
                            border: 1px solid transparent;
                           }

                           a:hover {
                               border: 1px solid #4bcaff;
                               color: #4bcaff;
                           }
                       }
                   }
                }
            }
        }
    }

    #content_header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88vh;
        padding-top: 240px;
    
        h1 {
            font-weight: lighter;
            font-size: 42px;
            text-transform: uppercase;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            min-height: 140px;

                span {
                    background-color: #3b454d;
                    padding: 5px 15px;
                }
            }
        }

/* ----------------------- SERVICES ----------------------- */

#services {
    background-color: #4bcaff;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    #content_services {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 78px 0;

        h2 {
            font-size: 30px;
            font-weight: lighter;
            padding-bottom: 34px;
        }

        #box_services {
        display: flex;


            div {
                font-size: 12px;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    font-family: 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 24px;
                    padding-top: 20px;
                }

                p {
                    font-weight: 500;
                    font-size: 12px;
                    padding-top: 18px;
                }
            }    
        }
    }
}

