 // AJOUT FONTS 
 
 @font-face {
    font-family: 'segoe';
    src: url("../fonts/Segoe-UI.woff"); 
 }

 @font-face {
    font-family: 'segoe-bold';
    src: url("../fonts/Segoe-UI-Bold.woff"); 
 }

 @font-face {
    font-family: 'segoe-light';
    src: url("../fonts/Segoe-UI-Light.woff"); 
 }

 @font-face {
    font-family: 'segoe-bold-italic';
    src: url("../fonts/Segoe-UI-Bold-Italic.woff"); 
 }


// VARIABLES 

$breadcrumb-divider: quote("|");

$font-regular: 'segoe', sans-serif;
$font-bold: 'segoe-bold', sans-serif;
$font-semibold : 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
$font-light: 'segoe-light', sans-serif;
$font-light-serif: 'segoe-light', serif;

 


// MIXIN 

@mixin for-medium-devices {
    @media (min-width: 768px) and (max-width: 991px)  { @content; }
}



// GENERALES 

body {
    font-family: $font-regular, Tahoma, Verdana;
}

h2 {
    font-family: $font-light-serif;
    font-size: 30px;
}

li {
    list-style: none;
}

@include for-medium-devices{

    h2 {
        text-align: center;
        font-family: $font-regular;
        font-size: 40px;
        margin-bottom: 50px;
    }

    #box_nav {
        position: initial !important;
    }

    hr {
        display: none;
    }

}

// CSS 
 
header { 
    background-image: url('../pictures/background_header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    #box_nav { 
        background-color: #353f47;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 130px;
        position: fixed;
        top: 0;
        opacity: 0.9;
        z-index: 1000;  

        nav {
            width: 100%;

                .navbar-brand {
                    font-size: 30px;
                    color: white !important;
                    font-family: $font-bold;

                    span {
                        font-family: $font-bold;
                        color: #4bcaff;
                    }
                }

                #navbarTogglerDemo03 {
                   ul {
                       
                       li { 
                            padding-right: 50px;

                            a {
                                font-family: $font-bold;
                                font-size: 14px;
                                color: white;
                                border: 1px solid transparent;
                            }

                            a:hover {
                               border: 1px solid #4bcaff;
                               color: #4bcaff;
                            }

                            @include for-medium-devices{
                                a:hover {
                                    border: 1px solid transparent;
                                }
                            }
                        }

                        li:last-child {
                            padding-right: 0 !important;
                        }
                    }

                   
                }
            }
        }

        // @include for-medium-devices {
        //     button {
        //         border-color: #4bcaff !important;
        //     }
        // }
    }

    #content_header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 88vh;
        padding-top: 240px;
    
        h1 {
            font-family: $font-light-serif;
            font-size: 42px;
            text-transform: uppercase;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            min-height: 140px;

            span {
                background-color: #3b454d;
                padding: 5px 15px;
            }

            @include for-medium-devices {
                span {
                    padding: 5px 10px;
                }

                span:last-child {
                    margin-top: 20px;
                }
            }
        }

        @include for-medium-devices {
            h1 {
                font-size: 35px;
            }
        }
    }

    @include for-medium-devices() {
        #content_header {
            padding-top: 0;
        }
    }

/* ----------------------- SERVICES ----------------------- */

#services {
    background-color: #4bcaff;
    color: white;
    display: flex;
    align-items: center;

    #content_services {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 78px 0;

        hr {   
            border: 1px solid white;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 34px;
            width: 4%;
        }

        #box_services {
        display: flex;
        flex-direction: row;


            div {
                font-size: 12px;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    font-family: $font-semibold;
                    font-size: 24px;
                    padding-top: 20px;
                }

                p {
                    font-family: $font-semibold;
                    font-size: 11px;
                    margin-top: 18px;
                }

                @include for-medium-devices {
                    h3 {
                        display: flex;
                        justify-content: center;
                        order: 1;
                    }

                    img {
                        order: 2;
                    }

                    p {
                        order: 3;
                        font-size: 16px;
                    }
                }
            }    
        }
    }
}

/* ----------------------- PORTFOLIO ----------------------- */

#portfolio {

    .container {
        margin-bottom: 80px;
       
        #top_portfolio {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {

                li {
                    padding-left: 40px;

                    a { 
                        font-family: $font-semibold;
                        font-size: 14px;
                        font-weight: bold;
                        color: #515f67;
                        border: 2px solid transparent;
                        
                    }

                    a:hover {
                        border: 2px solid #4bcaff;
                        color: #4bcaff;
                    }

                    @include for-medium-devices {
                        a:hover {
                            border: 2px solid transparent;
                        }
                    }
                }

                li:last-child {
                    margin-right: -2%;
                }
            }

            @include for-medium-devices {
                h2 {
                    margin-bottom: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
              
                ul {
                   margin-top: 40px;
                   margin-bottom: 40px;
                   display: flex;
                   justify-content: center;
               }  
            }

        }

        hr {
            border: 1px solid black;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 80px;
            width: 4%;
        }

        .container {
            .row {
                margin-left: -27px !important;
                margin-right: -20px !important;
            }

            .row:first-child {
                margin-bottom: 15px;
            }
        }

        @include for-medium-devices {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-direction: center;
            }
        }
    }
}


/* ----------------------- DEFAULT ----------------------- */

#default {
    background-color: #515f67;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        margin-top: 80px;
        margin-bottom: 80px;

        #box_default {
            display: flex;
            align-items: center;

            #text_default { 
             
                h2 {
                    color: white;
                    margin-bottom: 0;
                }
        
                hr {
                    border: 1px solid white;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 10px;
                    margin-bottom: 38px;            
                    width: 4%;
                }

                #space_default {
                    margin-bottom: 24px;
                }
                
                p {
                    font-size: 14px;
                    color: white;
                    margin-bottom: 0;
        
                }
        
                button {
                    margin-top: 38px;
                    font-weight: bold;
                    font-size: 14px;
                    color: #353f46;
                    border: 2px solid #353f46;
                    background-color: #515f67;
                    padding: 14px 38px;
                }
        
                button:hover {
                    background-color: white;
                    border: 2px solid transparent;
                }

                @include for-medium-devices {
                    h2 {
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 16px;
                    }
    
                    #space_default {
                        margin-bottom: 5px;
                    }
                    
                    #space_video {
                        margin-bottom: -100px,
                    }

                     button {
                        position: relative;
                        bottom: -420px;
                    }
                }
            }    
            
            #video_default {
                margin-top: 15px;

                @include for-medium-devices {
                    video {
                        margin: 30px auto;
                    }
                }
            }
        }

        @include for-medium-devices {
            #box_default { 
                display: flex;
                text-align: center;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}



/* ----------------------- TWITTER ----------------------- */
#section {
    background-color: hsl(198, 100%, 65%);
    color: white;

    .container{
        padding-top: 80px;
        padding-bottom: 80px;
    
        .row {
            display: flex;
            flex-direction: column;

            #title_twitter {
                display: flex;
                align-items: center;
                justify-content: space-between;

                i {
                    padding-right: 1%;
                }
            }

            #text_twitter {
                font-size: 28px;

                p { 
                    font-family: $font-light;
                    font-size: 28px;
                }   

                hr {
                    border: 1px solid white;
                    width: 4%;
                    margin-left: 0;
                    margin-top: 0;
                    margin-bottom: 40px;
                }

                a {
                    color: white;
                    text-decoration: none;
                    span {
                        font-family: $font-semibold;
                    }
                }

                @include for-medium-devices() {
                    p {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

/* ----------------------- JOHN DOE ----------------------- */

#john_doe {
    background-image: url('../pictures/background_photographe.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .container {
        padding-top: 100px;
        padding-bottom: 176px;

        hr {
            border: 1px solid white;
            width: 4.5%;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 40px;
        }

        #content_who {

            #content_text {

                p {
                    font-size: 14px;
                }
                
            }

            #content_text:first-child {
                margin-bottom: 0 !important;
            }

            #content_social {

                p {
                    font-size: 14px;
                    margin-bottom: 30px;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    width: 55%;
                    padding-left: 0;

                    li { 

                        a { 
                            padding: 15px;                            
                            border: 2px solid white;
                            color: white;   
                        }
                                    
                        a:hover {
                            border: 2px solid #4bcaff;
                            color: #4bcaff;
                        }
                    }
                }

                @include for-medium-devices {
                    ul {
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 80px;
                    }
                }
            }

            @include for-medium-devices {
                p {
                    font-size: 16px;
                }
            }
        }

        @include for-medium-devices {
            #content_who {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

/* ----------------------- TESTIMONIALS ----------------------- */

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        padding: 80px 0;

        #title_testimonials {
            display: flex;
            justify-content: space-between;

            i {
                padding-right: 1%;
            }
        }

        #text_testimonials {

            hr {
                border: 1px solid black;
                width: 4%;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 40px;
            }

            p {
                font-family: $font-light;
                font-size: 24px;
                

                span {
                    font-family: $font-bold;
                    font-size: 14px;
                    margin-top: 48px;
                    color: #4bcaff;
                }
            }
        }
    }
}

/* ----------------------- CONTACT ----------------------- */

#contact {
    background-image: url('../pictures/background_contact.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 810px;

    .container {
        margin: 80px 0;
        display: flex;
        flex-direction: column;
        color: white;

        hr {
            border: 1px solid white;
            width: 4%;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 35px;
        }

        form {
            label {
                font-family: $font-bold;
                font-size: 14px;
            }

            input {
                height: 50px;
            }

            button {
                font-family: $font-bold;
                margin-top: 40px;
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #4bcaff;
                border: none;
            }

            button:hover {
                background-color: white;
                color: #4bcaff;
            }

            input, textarea {
                background-color: transparent;
                border: 2px solid white;
            }

            input:focus,
            label:focus,
            textarea:focus {
                color: #4bcaff;
                border-color: #4bcaff;
                box-shadow: none;
            }


            #form_top {
                display: flex;
                flex-direction: row;

                p{
                    margin-bottom: 40px;
                    margin-top: 20px;
                    font-family: $font-semibold;
                    font-size: 14px;
                }
            }

            #form_center {
                display: flex;
                justify-content: space-between;

                ul {
                    font-family: $font-semibold;
                    font-size: 14px;
                }
            }

            @include for-medium-devices {
                button {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                }
            }
        }
    }
}

/* ----------------------- FOOTER ----------------------- */

#footer {
    background-color: #353f47;
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

    #content_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            

            ol {
                background-color: transparent !important;

                li {
                    a {
                        color: #515f67 !important;
                        font-family: $font-semibold;
                        font-size: 12px;
                    }

                    @include for-medium-devices {
                        a { 
                            font-size: 16px;
                        }
                    }
                }

                li :hover {
                    text-decoration: none !important;
                    color: #4bcaff !important;
                }

                li:nth-child(2)::before,
                li:nth-child(3)::before,
                li:nth-child(4)::before {
                    content: $breadcrumb-divider;
                }
            }
        }

        p {
            padding-right: 5px;
            display: flex;
            color: #515f67;
            font-family: $font-semibold;
            font-size: 12px;
        }

        @include for-medium-devices {
            p {
                font-size: 16px;
            }
        }
    }
}
